<div data-module="fcdo-add-another" data-item-selector=".fcdo-add-another__item">
    <div data-add-container>
        <div class="fcdo-add-another">
            <div class="fcdo-add-another__item">
                <div class="govuk-form-group govuk-!-margin-bottom-0">
                    <label class="govuk-label" for="country-0">
                        Country
                    </label>
                    <input class="govuk-input fcdo-input"  id="country-0"
            name="country[0]"
            data-base-name="country" type="text" />
                </div>
                <button type="button" class="fcdo-button fcdo-button--outline fcdo-button--outline-warning fcdo-margin-top-auto" aria-label="Delete item" data-remove-button>
                    <span class="material-symbols-outlined" aria-hidden="true" focusable="false">delete</span>
                </button>
            </div>
        </div>
    </div>
    <button type="button" class="fcdo-button fcdo-button--icon govuk-!-margin-top-3" data-add-button>
        <span class="material-symbols-outlined">add_circle</span> Add another country
    </button>
</div>