{% if alertLink == true %}
<div class="fcdo-alert fcdo-alert--primary" role="status">
    <span class="fcdo-alert__text"><span class="fcdo-alert__icon material-symbols-outlined">error</span> Warning alert</span>
    <a href="#" class="govuk-link govuk-link--no-visited-state fcdo-alert__link">Alert link</a>
</div>

<div class="fcdo-alert fcdo-alert--secondary" role="status">
    <span class="fcdo-alert__text"><span class="fcdo-alert__icon material-symbols-outlined">error</span> Warning alert</span>
    <a href="#" class="govuk-link govuk-link--no-visited-state fcdo-alert__link">Alert link</a>
</div>

<div class="fcdo-alert fcdo-alert--success" role="status">
    <span class="fcdo-alert__text"><span class="fcdo-alert__icon material-symbols-outlined">error</span> Success alert</span>
    <a href="#" class="govuk-link govuk-link--no-visited-state fcdo-alert__link">Alert link</a>
</div>

<div class="fcdo-alert fcdo-alert--error" role="alert">
    <span class="fcdo-alert__text"><span class="fcdo-alert__icon material-symbols-outlined">error</span> Error alert</span>
    <a href="#" class="govuk-link govuk-link--no-visited-state fcdo-alert__link">Alert link</a>
</div>

<div class="fcdo-alert fcdo-alert--warning" role="status">
    <span class="fcdo-alert__text"><span class="fcdo-alert__icon material-symbols-outlined">error</span> Warning alert</span>
    <a href="#" class="govuk-link govuk-link--no-visited-state fcdo-alert__link">Alert link</a>
</div>
{% else %}
<div class="fcdo-alert fcdo-alert--primary" role="status">
    <span class="fcdo-alert__text">Primary alert</span>
</div>

<div class="fcdo-alert fcdo-alert--secondary" role="status">
    <span class="fcdo-alert__text">Secondary alert</span>
</div>

<div class="fcdo-alert fcdo-alert--success" role="status">
    <span class="fcdo-alert__text">Success alert</span>
</div>

<div class="fcdo-alert fcdo-alert--error" role="alert">
    <span class="fcdo-alert__text">Error alert </span>
</div>

<div class="fcdo-alert fcdo-alert--warning" role="status">
    <span class="fcdo-alert__text">Warning alert</span>
</div>
{% endif %}


