<header class="fcdo-header">
    <div class="{% if fcdoTemplate == 'application' %}fcdo-header__container{% else %}govuk-width-container fcdo-header__container{% endif %}">
      {% if fcdoTemplate == "application" %}<button class="fcdo-header__toggle-page-navigation" id="togglePageNavigation" aria-expanded="false" aria-controls="pageNavigation">
          <span class="fcdo-header__menu-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </button>
        <div class="fcdo-header__logo"></div>
      {%else%}<div class="fcdo-header__logo"></div>
      {%endif%}<div class="fcdo-header__service-name">
        <a href="/" class="fcdo-header__link govuk-!-font-size-24">
          <strong>FCDO</strong>{% if headerTitle %} {{ headerTitle }}{% else%} Design System{% endif %}
        </a>
      </div>{% if fcdoTemplate == "application" %}
        <div class="fcdo-actions">
          <a href="/account" class="fcdo-actions__item">
            <span class="material-symbols-outlined fcdo-actions__icon">account_circle</span>
            <span class="fcdo-actions__text">Account</span>
          </a>
          <a href="/account" class="fcdo-actions__item fcdo-actions__item--border">
            <span class="material-symbols-outlined fcdo-actions__icon">settings</span>
            <span class="fcdo-actions__text">Setttings</span>
          </a>
        </div>
      {% endif %}
    </div>
  </header>