<nav class="fcdo-page-navigation">
  <div class="fcdo-page-navigation__container">
    <div class="fcdo-page-navigation__title">Navigation Title</div>
    <ul class="fcdo-page-navigation__list">
      <li class="fcdo-page-navigation__item fcdo-page-navigation__item--has-children">
        <details class="fcdo-page-navigation__details">
          <summary class="fcdo-page-navigation__trigger">
            {% if showIcons %}<i class="fcdo-page-navigation__item-icon bi bi-folder"></i>{% endif %}Page Navigation Menu
          </summary>
          <ul class="fcdo-page-navigation__sublist">
            <li class="fcdo-page-navigation__subitem">
              <a href="#" class="fcdo-page-navigation__sublink">
                Page Navigation Sub Item
              </a>
            </li>
            <li class="fcdo-page-navigation__subitem">
              <a href="#" class="fcdo-page-navigation__sublink">
                Page Navigation Sub Item
              </a>
            </li>
          </ul>
        </details>
      </li>
      <li class="fcdo-page-navigation__item">
        <a href="#" class="fcdo-page-navigation__link fcdo-page-navigation__link--active">{% if showIcons %}
          <i class="fcdo-page-navigation__item-icon bi bi-search"></i>{% endif %}
          Page Navigation Item
        </a>
      </li>
      <li class="fcdo-page-navigation__item">
        <a href="#" class="fcdo-page-navigation__link">{% if showIcons %}
          <i class="fcdo-page-navigation__item-icon bi bi-folder-plus"></i>{% endif %}
           Page Navigation Item
        </a>
      </li>
    </ul>
  </div>
</nav>