<table class="fcdo-table">
    <caption class="fcdo-table__caption">Example dataset of people, ages, and countries</caption>
    <thead class="fcdo-table__head">
        <tr class="fcdo-table__row">
            <th scope="col" class="fcdo-table__header">Name</th>
            <th scope="col" class="fcdo-table__header">Age</th>
            <th scope="col" class="fcdo-table__header">Country</th>
        </tr>
    </thead>
    <tbody class="fcdo-table__body">
        <tr class="fcdo-table__row">
            <td class="fcdo-table__cell">Alice</td>
            <td class="fcdo-table__cell">25</td>
            <td class="fcdo-table__cell">UK</td>
        </tr>
        <tr class="fcdo-table__row">
            <td class="fcdo-table__cell">Bob</td>
            <td class="fcdo-table__cell">30</td>
            <td class="fcdo-table__cell">USA</td>
        </tr>
        <tr class="fcdo-table__row">
            <td class="fcdo-table__cell">Charlie</td>
            <td class="fcdo-table__cell">22</td>
            <td class="fcdo-table__cell">Canada</td>
        </tr>
        <tr class="fcdo-table__row">
            <td class="fcdo-table__cell">David</td>
            <td class="fcdo-table__cell">35</td>
            <td class="fcdo-table__cell">Australia</td>
        </tr>
        <tr class="fcdo-table__row">
            <td class="fcdo-table__cell">Eva</td>
            <td class="fcdo-table__cell">28</td>
            <td class="fcdo-table__cell">Germany</td>
        </tr>
    </tbody>
</table>