{% set heading = "Component information" %}

{% if pageTemplateHeading %}
  {% set heading = "Template information" %}
{% elseif coloursHeading %}
  {% set heading = "FCDO colour palette" %}
{% elseif typographyHeading %}
  {% set heading = "FCDO type face" %}
{% endif %}

<h1 class="govuk-heading-l govuk-!-margin-bottom-2">
  {{ heading }}
</h1>

{% if htmlFilePath and scssFilePath %}
<span class="govuk-tag govuk-tag--teal fcdo-last-updated">
  Last update on {{ componentLastUpdated(htmlFilePath, scssFilePath) }}
</span>
{%endif%}