{% extends "layout.html" %}

{% block title %}
Alert
{% endblock %}

{% block pageTitle %}
<span class="govuk-caption-m">Components</span>
<h1 class="govuk-heading-l">Alert</h1>
{% endblock %}

{% block content %}

{% set htmlFilePath = "component-html/alert.html" %}
{% set scssFilePath = "components/alert/_alert.scss" %}

{% include "includes/app-component-updated-date.html" %}

<p class="govuk-body">Use the alert component to provide contextual feedback messages for typical user actions and tasks.</p>

<div class="fcdo-component">
    <div class="fcdo-component__example">
        {% include "includes/component-html/alert.html" %}
    </div>
    {% include "includes/app-view-component-code.html" %}
</div>

 <h2 class="govuk-heading-m">Optional link and icon</h2>
 <p class="govuk-body">Alerts can include an optional link to provide more information or actions.</p>
    <div class="fcdo-component">
        <div class="fcdo-component__example">
            {% set alertLink = true %}
            {% include "includes/component-html/alert.html" %}
        </div>
        {% include "includes/app-view-component-code.html" %}
{% endblock %}