{% extends "layout.html" %}

{% block title %}
Button
{% endblock %}

{% block pageTitle %}
    <span class="govuk-caption-xl">Components</span>
    <h1 class="govuk-heading-xl">Button</h1>
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">Component Information</h1>
    <p class="govuk-body">Use the button component to help users carry out an action like starting an application or saving their information.</p>

    <div class="fcdo-component">
        <div class="fcdo-component__example">
            {% include "includes/component-html/button.html" %}
        </div>
        {% include "includes/app-view-component-code.html" %}
    </div>
{% endblock %}