{% extends "layout.html" %}

{% block title %}
Button
{% endblock %}

{% block pageTitle %}
<span class="govuk-caption-m">Components</span>
<h1 class="govuk-heading-l">Button</h1>
{% endblock %}

{% block content %}

{% set htmlFilePath = "component-html/button.html" %}
{% set scssFilePath = "components/button/_button.scss" %}
{% include "includes/app-component-updated-date.html" %}

<p class="govuk-body">
    Use the button component to help users carry out an action like starting an application or saving their information.
</p>

<h2 class="govuk-heading-m">Primary button</h2>
<p class="govuk-body">
    The FCDO primary button is used to draw attention to the most important action on a page. It should be reserved for the key task a user needs to complete, such as downloading a release, continuing a journey, or submitting a form.
</p>

<div class="fcdo-component">
    <div class="fcdo-component__example">
        {% set buttonVariant = "primary" %}
        {% include "includes/component-html/button.html" %}
    </div>
    {% include "includes/app-view-component-code.html" %}
</div>

<h2 class="govuk-heading-m">Disabled button</h2>
<p class="govuk-body">
    The disabled button is used when an action is temporarily unavailable or cannot be completed.
</p>

<div class="fcdo-component">
    <div class="fcdo-component__example">
        {% set buttonVariant = "disabled" %}
        {% include "includes/component-html/button.html" %}
    </div>
    {% include "includes/app-view-component-code.html" %}
</div>

<h2 class="govuk-heading-m">Warning button</h2>
<p class="govuk-body">
    The FCDO warning buttons are designed to make users think carefully before they use them. They only work if used very sparingly. 
</p>

<div class="fcdo-component">
    <div class="fcdo-component__example">
        {% set buttonVariant = "warning" %}
        {% include "includes/component-html/button.html" %}
    </div>
    {% include "includes/app-view-component-code.html" %}
</div>

<h2 class="govuk-heading-m">Outline button</h2>
<p class="govuk-body">
    The FCDO outline button is used for alternative or supporting actions that are less important than the primary action on a page.
</p>

<div class="fcdo-component">
    <div class="fcdo-component__example">
        {% set buttonVariant = "outline" %}
        {% include "includes/component-html/button.html" %}
    </div>
    {% include "includes/app-view-component-code.html" %}
</div>

<h2 class="govuk-heading-m">Outline warning button</h2>
<p class="govuk-body">
    The FCDO outline warning button is designed to make users think carefully before they use it. It only works if used very sparingly.
</p>

<div class="fcdo-component">
    <div class="fcdo-component__example">
        {% set buttonVariant = "outline-warning" %}
        {% include "includes/component-html/button.html" %}
    </div>
    {% include "includes/app-view-component-code.html" %}
</div>

<h2 class="govuk-heading-m">Icon button</h2>
<p class="govuk-body">
    The FCDO icon button is used for actions that are best represented by an icon rather than text.
</p>

<div class="fcdo-component">
    <div class="fcdo-component__example">
        {% set buttonVariant = "icon" %}
        {% include "includes/component-html/button.html" %}
    </div>
    {% include "includes/app-view-component-code.html" %}
</div>

<h2 class="govuk-heading-m">Button group</h2>
<p class="govuk-body">
    Button groups are used when users need to choose between multiple actions, with a clear primary and secondary option.
</p>

<div class="fcdo-component">
    <div class="fcdo-component__example">
        {% set buttonVariant = "group" %}
        {% include "includes/component-html/button.html" %}
    </div>
    {% include "includes/app-view-component-code.html" %}
</div>

{% endblock %}