{% extends "layout.html" %}

{% block title %}
    Card
{% endblock %}

{% block pageTitle %}
    <span class="govuk-caption-xl">Components</span>
    <h1 class="govuk-heading-xl">Card</h1>
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">Component Information</h1>
    <p class="govuk-body">The card component is a versatile user interface element used to display grouped information in a visually appealing and organised way.</p>
    <p class="govuk-body">They can enhance user interaction and content presentation across various applications and devices.</p>

    <div class="fcdo-component">
        <div class="fcdo-component__example">
            {% include "includes/component-html/card.html" %}
        </div>
        {% include "includes/app-view-component-code.html" %}
    </div>
{% endblock %}