{% extends "layout.html" %}

{% block title %}
    Checkboxes
{% endblock %}

{% block pageTitle %}
    <span class="govuk-caption-xl">Components</span>
    <h1 class="govuk-heading-xl">Checkboxes</h1>
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">Component Information</h1>
    <p class="govuk-body">Use the checkboxes component when you need to help users:</p>

    <ul class="govuk-list">
        <li>select multiple options from a list</li>
        <li>toggle a single option on or off</li>
    </ul>

    <div class="fcdo-component">
        <div class="fcdo-component__example">
            {% include "includes/component-html/checkboxes.html" %}
        </div>
        {% include "includes/app-view-component-code.html" %}
    </div>

    <h2 class="govuk-heading-m">Small Checkboxes</h2>
    <p class="govuk-body">Use standard-sized checkboxes in most cases. However, smaller checkboxes work well on pages where it's helpful to make them less visually prominent.</p>
    <p class="govuk-body">For example, on a page of search results, the main user need is to see the results. Using smaller checkboxes lets users see and change search filters without distracting them from the main content.</p>
    <div class="fcdo-component">
        <div class="fcdo-component__example">
            {% set checkboxesSmall = true %}
            {% include "includes/component-html/checkboxes.html" %}
        </div>
        {% include "includes/app-view-component-code.html" %}
    </div>
{% endblock %}