{% extends "layout.html" %}

{% block title %}
    Dashboard card
{% endblock %}

{% block pageTitle %}
    <span class="govuk-caption-m">Components</span>
    <h1 class="govuk-heading-l">Dashboard card</h1>
{% endblock %}

{% block content %}
  {% set htmlFilePath = "component-html/dashboard-card.html" %}
{% set scssFilePath = "components/alert/_dashboard-card.scss" %}

{% include "includes/app-component-updated-date.html" %}

    <p class="govuk-body">The Dashboard card is a simple component used to display a single key performance indicator clearly and prominently.</p>
    <p class="govuk-body">It helps users quickly understand key metrics and track performance at a glance, typically within dashboards and reporting views.</p>

    <div class="fcdo-component">
        <div class="fcdo-component__example">
            {% include "includes/component-html/dashboard-card.html" %}
        </div>
        {% include "includes/app-view-component-code.html" %}
    </div>
{% endblock %}