{% extends "layout.html" %}

{% block title %}
    Details
{% endblock %}

{% block pageTitle %}
    <span class="govuk-caption-xl">Components</span>
    <h1 class="govuk-heading-xl">Details</h1>
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">Component Information</h1>
    <p class="govuk-body">Make a page easier to scan by letting users reveal more detailed information only if they need it.</p>

    <div class="fcdo-component">
        <div class="fcdo-component__example">
            {% include "includes/component-html/details.html" %}
        </div>
        {% include "includes/app-view-component-code.html" %}
    </div>
{% endblock %}