{% extends "layout.html" %}

{% block title %}
Header
{% endblock %}

{% block pageTitle %}
    <span class="govuk-caption-xl">Components</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Footer</h1>
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">Component Information</h1>
    <p class="govuk-body">The FCDO footer provides copyright, licensing and other information about your service.</p>
    <div class="fcdo-component">
        <div class="fcdo-component__example">
            {% include "includes/component-html/footer.html" %}
        </div>
        {% include "includes/app-view-component-code.html" %}
    </div>
{% endblock %}