{% extends "layout.html" %}

{% block title %}
    Page Navigation
{% endblock %}

{% block pageTitle %}
    <span class="govuk-caption-xl">Components</span>
    <h1 class="govuk-heading-xl">Page Navigation</h1>
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">Component Information</h1>
    <p class="govuk-body">The Page Navigation component helps users navigate around your service.</p>

    <div class="fcdo-component">
        <div class="fcdo-component__example">
            {% include "includes/component-html/page-navigation.html" %}
        </div>
        {% include "includes/app-view-component-code.html" %}
    </div>

    <h2 class="govuk-heading-m">Optional Icons</h2>
    <p class="govuk-body">The FCDO page navigation may optionally include icons alongside navigation labels to provide additional visual cues for users.</p>
    <p class="govuk-body">Icons can help users quickly identify the purpose of different sections, particularly on content-heavy pages, and can improve scannability and accessibility when used consistently.Where icons are included, they should support the meaning of the label rather than replace it, remain simple and recognisable</p>

    <div class="fcdo-component">
        <div class="fcdo-component__example">
            {% set showIcons = "true" %}
            {% include "includes/component-html/page-navigation.html" %}
        </div>
        {% include "includes/app-view-component-code.html" %}
    </div>
{% endblock %}