{% extends "layout.html" %}

{% block title %}
    Radios
{% endblock %}

{% block pageTitle %}
    <span class="govuk-caption-m">Components</span>
    <h1 class="govuk-heading-l">Radios</h1>
{% endblock %}

{% block content %}
  {% set htmlFilePath = "component-html/radios.html" %}
{% set scssFilePath = "components/radios/_radios.scss" %}

{% include "includes/app-component-updated-date.html" %}
    <p class="govuk-body">Use the radios component when users can only select one option from a list.</p>
   <div class="fcdo-component">
        <div class="fcdo-component__example">
            {% set radiosSmall = false %}
            {% include "includes/component-html/radios.html" %}
        </div>
        {% include "includes/app-view-component-code.html" %}
    </div>
    <h2 class="govuk-heading-m">Small Radios</h2>
    <p class="govuk-body">Use standard-sized checkboxes in most cases. However, smaller checkboxes work well on pages where it's helpful to make them less visually prominent.</p>
    <p class="govuk-body">For example, on a page of search results, the main user need is to see the results. Using smaller checkboxes lets users see and change search filters without distracting them from the main content.</p>
   <div class="fcdo-component">
        <div class="fcdo-component__example">
            {% set radiosSmall = true %}
            {% include "includes/component-html/radios.html" %}
        </div>
        {% include "includes/app-view-component-code.html" %}
    </div>
{% endblock %}