{% extends "layout.html" %}

{% block title %}
    Select
{% endblock %}

{% block pageTitle %}
    <span class="govuk-caption-xl">Components</span>
    <h1 class="govuk-heading-xl">Select</h1>
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">Component Information</h1>
    <p class="govuk-body">The select component should only be used as a last resort in public-facing services because research shows that some users find selects very difficult to use.</p>
    <div class="fcdo-component">
        <div class="fcdo-component__example">
            {% include "includes/component-html/select.html" %}
        </div>
        {% include "includes/app-view-component-code.html" %}
    </div>
{% endblock %}