{% extends "layout.html" %}

{% block title %}
    Tabs
{% endblock %}

{% block pageTitle %}
    <span class="govuk-caption-m">Components</span>
    <h1 class="govuk-heading-l">Tabs</h1>
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">Component information</h1>
    <p class="govuk-body">The tabs component lets users navigate between related sections of content, displaying one section at a time.</p>
    <div class="fcdo-component">
        <div class="fcdo-component__example">
            {% include "includes/component-html/tabs.html" %}
        </div>
        {% include "includes/app-view-component-code.html" %}
    </div>
{% endblock %}