{% extends "layout.html" %}

{% block title %}
    Text Input
{% endblock %}

{% block pageTitle %}
    <span class="govuk-caption-xl">Components</span>
    <h1 class="govuk-heading-xl">Text Input</h1>
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">Component Information</h1>
    <p class="govuk-body">Use the text input component to allow users to input text.</p>

   <div class="fcdo-component">
        <div class="fcdo-component__example">
            {% include "includes/component-html/text-input.html" %}
        </div>
        {% include "includes/app-view-component-code.html" %}
    </div>
{% endblock %}