{% extends "layout.html" %}

{% block title %}
Alert
{% endblock %}

{% block pageTitle %}
<span class="govuk-caption-m">Components</span>
<h1 class="govuk-heading-l">Utility navigation</h1>
{% endblock %}

{% block content %}
   {% set htmlFilePath = "component-html/utility-navigation.html" %}
{% set scssFilePath = "components/utility-navigation/_utility-navigation.scss" %}

{% include "includes/app-component-updated-date.html" %}
    <p class="govuk-body">Use the utility navigation component to provide quick access to important link and services.</p>

<div class="fcdo-component">
    <div class="fcdo-component__example">
        {% include "includes/component-html/utility-navigation.html" %}
    </div>
    {% include "includes/app-view-component-code.html" %}
</div>
{% endblock %}