// fcdo colour palette
$fcdo-colour-1: #012069;
$fcdo-colour-2: #407ec9;
$fcdo-colour-3: #c8102e;
$fcdo-colour-4: #833177;
$fcdo-colour-5: #5cb8b2;
$fcdo-colour-6: #eaaa00;
$fcdo-colour-7: #c8c9c7;
$fcdo-colour-8: #00b140;

// fcdo dark colour palette
$fcdo-dark-colour-1: #202124;
$fcdo-dark-colour-2: #66b3ff;
$fcdo-dark-colour-3: #ff4c5a;
$fcdo-dark-colour-4: #b56bd9;
$fcdo-dark-colour-5: #7fded8;
$fcdo-dark-colour-6: #ffd84d;
$fcdo-dark-colour-7: #e1e2e0;
$fcdo-dark-colour-8: #33d16b;

// fcdo high contrast colour palette
$fcdo-high-contrast-colour-1: #000000;
$fcdo-high-contrast-colour-2: #3ff23f;
$fcdo-high-contrast-colour-3: #ffff01;
$fcdo-high-contrast-colour-4: #1ceafa;