$fcdo-colours: (
  "default": (
    "1": #012069,
    "2": #407ec9,
    "3": #c8102e,
    "4": #833177,
    "5": #5cb8b2,
    "6": #eaaa00,
    "7": #c8c9c7,
    "8": #00b140,
    "9": #f8f8fa
  ),
  "dark": (
    "1": #202124,
    "2": #66b3ff,
    "3": #ff4c5a,
    "4": #b56bd9,
    "5": #7fded8,
    "6": #ffd84d,
    "7": #e1e2e0,
    "8": #33d16b
  ),
  "high-contrast": (
    "1": #000000,
    "2": #3ff23f,
    "3": #ffff01,
    "4": #1ceafa,
  )
);

@function fcdo-color($theme, $number) {
  $themes: $fcdo-colours;

  $theme-map: map-get($themes, $theme);

  @if not $theme-map {
    @error "Theme '#{$theme}' not found in $fcdo-colours.";
  }

  $color: map-get($theme-map, $number);

  @if not $color {
    @error "Colour '#{$number}' not found in '#{$theme}' theme.";
  }

  @return $color;
}