$typography-scale: (
    48: (
        mobile: (
            font-size: 32px,
            line-height: 35px
        ),
        tablet: (
            font-size: 48px,
            line-height: 50px
        )
    ),
    36: (
        mobile: (
            font-size: 27px,
            line-height: 30px
        ),
        tablet: (
            font-size: 36px,
            line-height: 40px
        )
    ),
    24: (
        mobile: (
            font-size: 21px,
            line-height: 25px
        ),
        tablet: (
            font-size: 24px,
            line-height: 30px
        )
    ),
    19: (
        mobile: (
            font-size: 16px,
            line-height: 25px
        ),
        tablet: (
            font-size: 19px,
            line-height: 30px
        )
    ),
    16: (
        mobile: (
            font-size: 16px,
            line-height: 20px
        )
    )
);

@mixin fcdo-font-size($size) {
  $settings: map-get($typography-scale, $size);

  @if $settings {

    // Mobile first (default)
    $mobile: map-get($settings, mobile);

    font-size: map-get($mobile, font-size);
    line-height: map-get($mobile, line-height);

    // Tablet override
    @if map-has-key($settings, tablet) {
      @include fcdo-media-query(tablet) {
        font-size: map-get(map-get($settings, tablet), font-size);
        line-height: map-get(map-get($settings, tablet), line-height);
      }
    }
  }
}