// ---------------------------------------------------------------------------------------------
// Ttpography scale
// ---------------------------------------------------------------------------------------------

$typography-scale: (
    48: (
        sm: (
            font-size: 32px,
            line-height: 35px
        ),
        md: (
            font-size: 48px,
            line-height: 50px
        )
    ),
    36: (
        sm: (
            font-size: 27px,
            line-height: 30px
        ),
        md: (
            font-size: 36px,
            line-height: 40px
        )
    ),
    24: (
        sm: (
            font-size: 21px,
            line-height: 25px
        ),
        md: (
            font-size: 24px,
            line-height: 30px
        )
    ),
    20: (
        sm: (
            font-size: 17px,
            line-height: 25px
        ),
        md: (
            font-size: 20px,
            line-height: 20px
        )
    ),
    19: (
        sm: (
            font-size: 16px,
            line-height: 25px
        ),
        md: (
            font-size: 19px,
            line-height: 30px
        )
    ),
    17: (
        sm: (
            font-size: 17px,
            line-height: 25px
        ),
        md: (
            font-size: 17px,
            line-height: 25px
        )
    ),
    16: (
        sm: (
            font-size: 16px,
            line-height: 20px
        )
    )
);


// ---------------------------------------------------------------------------------------------
// typography mixin
// ---------------------------------------------------------------------------------------------

@mixin fcdo-font-size($size, $override-line-height: null) {

    $settings: map-get($typography-scale, $size);

    @if $settings {

        // Mobile first
        $sm: map-get($settings, sm);

        font-size: map-get($sm, font-size);

        @if $override-line-height != null {
            line-height: $override-line-height;
        } @else if map-has-key($sm, line-height) {
            line-height: map-get($sm, line-height);
        }


        // medium and above
        @if map-has-key($settings, md) {

            @include fcdo-media-query(md) {

                $md: map-get($settings, md);

                font-size: map-get($md, font-size);

                @if $override-line-height != null {
                    line-height: $override-line-height;
                } @else if map-has-key($md, line-height) {
                    line-height: map-get($md, line-height);
                }
            }
        }
    }
}