@import "helpers/all";
@import "settings/all";
@import "components/all";
@import "page-templates/all";
@import "icons/all";

body,
h1,
h2,
h3,
h4,
ul,
p,
a,
dt,
dd,
label,
select,
input,
button {
    font-family: $fcdo-font-family !important;
    @include fcdo-font-size(17);
}

body {
     @include fcdo-font-size(17);
}

.fcdo-template {
    height: 100%;

    &__body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}