@import "helpers/all";
@import "settings/all";
@import "components/all";
@import "page-templates/all";

body {
    font-family: $fcdo-font-family;
}

.fcdo-template {
    height: 100%;

    &__body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}

[data-theme="dark"] {
    body {
        background-color: fcdo-color("dark", "1");
        color: #fff;
    }

    h1, h2, h3, h4, ul {
        color: #fff;
    }

}

[data-theme="highContrast"] {
    body {
        background-color: fcdo-color("high-contrast", "1");
        color: fcdo-color("high-contrast", "2");
    }

    h1, h2, h3, h4, ul {
        color: fcdo-color("high-contrast", "2");
    }
}

