@import "govuk-frontend/dist/govuk";
@import "settings/all";
@import "helpers/all";
@import "components/all";

[data-theme="dark"] {
    body {
        background-color: $fcdo-dark-colour-1;
        color: #fff;
    }

    h1, h2, h3, h4, ul {
        color: #fff;
    }

}

[data-theme="highContrast"] {
    body {
        background-color: $fcdo-high-contrast-colour-1;
        color: $fcdo-high-contrast-colour-2;
    }

    h1, h2, h3, h4, ul {
        color: $fcdo-high-contrast-colour-2;
    }

}

