{% extends "layout.html" %}

{% block title %}
    FCDO Design System
{% endblock %}

{% block pageTitle %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">FCDO Design System</h1>
    <p class="govuk-body">Use the FCDO Design System alongside the <a class="govuk-link govuk-link--inverse" href="https://design-system.service.gov.uk/">GOV.UK Design System</a>.</p>
    <p class="govuk-body">The DesignOps team supports design teams to work effectively and efficiently, with standards, guidance, and support.</p>
{% endblock %}

{% block content %}
        <h3 class="govuk-heading-l">Introduction</h3>
        <p class="govuk-body">The new FCDO Design System has been developed to meet those needs by providing a unified, governing framework of standards, components, and patterns that help every FCDO digital project deliver clearer, more usable, and more inclusive services.</p>

<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

<h3 class="govuk-heading-m">Featured components</h3>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <div class="app-card">
            <div class="app-card__container">
                <img src="/assets/images/image-header.png" alt="FCDO Design System Benefits" class="govuk-!-margin-bottom-4" />
                <h2 class="govuk-heading-s fcdo-card__title">Header</h2>
                <p class="app-card__description">Styles for typography, colour and more to make services look like FDCO.</p>
                <p class="app-card__description"><a href="/design-system/components/header" class="govuk-link govuk-link--no-visited-state">View Header</a></p>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
        <div class="app-card">
            <div class="app-card__container">
                <img src="/assets/images/image-alerts.png" alt="Alerts" class="govuk-!-margin-bottom-4" />
                <h2 class="govuk-heading-s fcdo-card__title">Alerts</h2>
                <p class="app-card__description">Components for building consistent user interfaces within the FCDO.</p>
                <p class="app-card__description"><a href="/design-system/components/alert" class="govuk-link govuk-link--no-visited-state">View Alerts</a></p>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
        <div class="app-card">
            <div class="app-card__container">
                <img src="/assets/images/image-searchable-table.png" alt="Searchable Table" class="govuk-!-margin-bottom-4" />
                <h2 class="govuk-heading-s fcdo-card__title">Searchable Table</h2>
                <p class="app-card__description">Components for building consistent user interfaces within the FCDO.</p>
                <p class="app-card__description"><a href="/design-system/components/searchable-table" class="govuk-link govuk-link--no-visited-state">View Searchable Table</a></p>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
        <div class="app-card">
            <div class="app-card__container">
                <img src="/assets/images/image-tooltip.png" alt="Tooltip" class="govuk-!-margin-bottom-4" />
                <h2 class="govuk-heading-s fcdo-card__title">Tooltip</h2>
                <p class="app-card__description">Components for building consistent user interfaces within the FCDO.</p>
                <p class="app-card__description"><a href="/design-system/components/tooltip" class="govuk-link govuk-link--no-visited-state">View Tooltip</a></p>
            </div>
        </div>
    </div>
</div>

<h3 class="govuk-heading-m govuk-!-margin-top-6">Explore guidance</h3>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
       <div class="app-card">
            <div class="app-card__container app-card__container--flex-row">
                <span class="app-card__icon material-symbols-outlined">playlist_add_check</span>
                <div>
                    <h2 class="govuk-heading-s fcdo-card__title">FCDO Design System Benefits</h2>
                    <ul class="govuk-list">
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/design-system">Overview</a></li>
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/design-system/guidance/benefits">Read about the benefits</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
       <div class="app-card">
            <div class="app-card__container app-card__container--flex-row">
                <span class="app-card__icon material-symbols-outlined">rocket_launch</span>
                <div>
                    <h2 class="govuk-heading-s fcdo-card__title">Getting started</h2>
                    <ul class="govuk-list">
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/get-started/download">Download the design system</a></li>
                        <li><a class="govuk-link govuk-link--no-visited-state" href="/get-started/import-assets">Copying the files</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half-from-desktop">
        <div class="app-card">
            <div class="app-card__container">
                <h2 class="govuk-heading-m fcdo-card__title">Tools</h2>
                <p class="app-card__description">View all the tools for developing FCDO projects and services.</p>
            </div>
        </div>
    </div>
</div> -->


{% endblock %}