.fcdo-header {
  padding: $fcdo-spacing-3 $fcdo-spacing-2;
  background-color: fcdo-color("default", "1");
  border-bottom: $fcdo-spacing-2 solid fcdo-color("default", "2");

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: none;
    width: 40px;
    height: 40px;
    margin-right: $fcdo-spacing-1;
    background: #fff;
    mask-image: url("/assets/images/govuk-crest.svg");
    mask-repeat: no-repeat;
    mask-position: 50% 0%;
    mask-size: 36px 36px;

    @include fcdo-media-query('tablet') {
          display: block;
      }

  }

  &__service-name a {
    color: #fff;

    &:focus {
      outline: 3px solid transparent;
      color: #fff;
      background-color: fcdo-color("default", "2");
    }
  }

  &__link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__toggle-page-navigation {
    position:relative;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 8px;
    margin-right: $fcdo-spacing-4;
    margin-left: -3px; // visually align with logo

    &:focus {
      background-color: fcdo-color("default", "2");
      border-color: fcdo-color("default", "2");
      box-shadow: 0 2px 0 transparent;
      color: #fff;
      outline: none;

      &::before {
        border-color: #0b0c0c;
      }
    }

    &::after {
      position: absolute;
      width: 1px;
      top: 0px;
      right : -10px;
      height: 100%;
      content: "";
      background-color: #fff;
    }

  }

  &__menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 17px;
    transition: transform 0.3s ease;

    span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
  }
}

.fcdo-actions {
  margin-left: auto;
  display: flex;
  gap: $fcdo-spacing-3;
  color: #fff;

  &__item {
    display: flex;
    align-items: center;
    gap: 2px;
    color: #fff;
    @include fcdo-font-size(16, 1);
    text-decoration: none;

    &:hover, &:focus {
      background-color: fcdo-color("default", "2");
      outline: none;
    }

    &--border {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left:-6px;
        top: 3px;
        bottom: 3px;
        width: 1px;
        background-color: #fff;
        opacity: 0.75;
      }

    }
  }

  &__text {
    display: none;
    @include fcdo-font-size(16, 1);

      @include fcdo-media-query('tablet') {
          display: block;
      }
  }

  &__icon {
    display: inline-flex;
  }
}