.fcdo-header {
  padding: $fcdo-spacing-3 $fcdo-spacing-2;
  background-color: fcdo-color("default", "1");
  border-bottom: $fcdo-spacing-2 solid fcdo-color("default", "2");

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 40px;
    height: 40px;
    margin-right: $fcdo-spacing-1;
    background: #fff;
    mask-image: url("/assets/images/govuk-crest.svg");
    mask-repeat: no-repeat;
    mask-position: 50% 0%;
    mask-size: 36px 36px;
  }

  &__service-name a {
    color: #fff;

    &:focus {
      outline: 3px solid transparent;
      color: #000;
      background-color: fcdo-color("dark", "2");
    }
  }

  &__link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__toggle-page-navigation {
        font-family: $fcdo-font-family;
        display: inline-flex;
        position: relative;
        @include fcdo-font-size(19);
        font-weight: 700;
        color: #fff;
        background: none;
        border: 0;
        padding: $fcdo-spacing-1 $fcdo-spacing-2;
        gap: 10px;
        margin-left: auto;
        cursor: pointer;

        &:before {
            content: "";
            width: 10px;
            height: 10px;
            margin-top: 3px;
            transform: rotate(135deg);
            border: solid;
            border-width: 2px 2px 0 0;
            border-color: #fff;
            cursor: pointer;

            
            @include fcdo-media-query("tablet") {
                margin-top: 6px;
            }
        }
        

        &:focus {
            background-color: #fd0;
            border-color: #fd0;
            box-shadow: 0 2px 0 transparent;
            color: #0b0c0c;
            outline: none;

            &::before {
                border-color: #0b0c0c;
              }
        }


         &[aria-expanded="true"] {
            background-color: fcdo-color("default", "2");
            color: #fff;

            &::before {
                transform: rotate(-45deg); // rotate arrow for open state
                border-color: #fff;
                margin-top: 10px;

                @include fcdo-media-query("tablet") {
                  margin-top: 12px;
                }
            }
        }
        
        //  @include fcdo-media-query("desktop") {
        //     display: none !important;
        // }        
           
  }
}