{% if gridType == "basic" %}
<div class="fcdo-container">
    <div class="fcdo-row">
        <div class="fcdo-col-sm-12 fcdo-col-lg-4">Column</div>
        <div class="fcdo-col-sm-12 fcdo-col-lg-4">Column</div>
        <div class="fcdo-col-sm-12 fcdo-col-lg-4">Column</div>
    </div>
</div>
{%endif%}

{% if gridType == "fluid" %}
<div class="fcdo-container-fluid">
    <div class="fcdo-row">
        <div class="fcdo-col-sm-12 fcdo-col-lg-4">Column</div>
        <div class="fcdo-col-sm-12 fcdo-col-lg-4">Column</div>
        <div class="fcdo-col-sm-12 fcdo-col-lg-4">Column</div>
    </div>
</div>
{%endif%}