.fcdo-navigation {
    background-color: #fff;
    border-bottom: 1px solid fcdo-color("default", "7");

    &__list {
        margin: $fcdo-spacing-1 0 0 0;
        padding: 0 0 $fcdo-spacing-2 0;
        display: flex;
        gap: 5px;
        flex-direction: column;

        &[hidden] {
            display: none;
        }

        @include fcdo-media-query("tablet") {
            margin: 0;
            display: flex !important;
            gap: 30px;
            padding: 0;
            flex-direction: row;
        }
    }

    &__item {
        list-style-type: none;
        padding: $fcdo-spacing-1 0 $fcdo-spacing-1 0;

        &--active {
            border-left: 5px solid fcdo-color("default", "6");
            padding-left: $fcdo-spacing-1;
        }

        @include fcdo-media-query("tablet") {
            padding: $fcdo-spacing-2 0 $fcdo-spacing-2 0;

            &:hover,
            &--active {
                border-left: none;
                padding-left: 0;
                border-bottom: 5px solid fcdo-color("default", "6");
                color: #005ea5;
            }
        }
    }

    &__link {
        display: inline-block;
        color: govuk-color("blue");
        text-decoration: none;
        @include fcdo-font-size(19);

        &:focus-visible {
            outline: 3px solid rgba(0, 0, 0, 0);
            color: #fff;
            background-color: fcdo-color("default", "2");
        }
    }

    &__toggle-navigation {
        display: inline-flex;
        position: relative;
        @include fcdo-font-size(19);
        color: govuk-color("blue");
        background: none;
        border: 0;
        padding: $fcdo-spacing-1 $fcdo-spacing-2;
        margin-left: -$fcdo-spacing-1;
        gap: 10px;
        cursor: pointer;

        &:before {
            content: "";
            width: 10px;
            height: 10px;
            margin-top: 4px;
            transform: rotate(135deg);
            border: solid;
            border-width: 2px 2px 0 0;
            border-color: gvouk-color("blue");
            cursor: pointer;
        }

        @include fcdo-media-query("desktop") {
            display: none;
        }

        // &:focus {
        //     background-color: #fd0;
        //     border-color: #fd0;
        //     box-shadow: 0 2px 0 transparent;
        //     color: #0b0c0c;
        //     outline: none;

        //     &::before {
        //         border-color: #0b0c0c;
        //     }
        // }

         &[aria-expanded="true"] {

            &::before {
                transform: rotate(-45deg); // rotate arrow for open state
                margin-top: 10px;
            }
        }    
           
    }
}

// dark theme styles
[data-theme="dark"] {
    .fcdo-navigation {  
        background-color: fcdo-color("dark", "1");

        &__item {
            &:hover {
                border-bottom: none;
            }

            &--active {
                border-bottom: none;
            }
        }

        &__link {
            color: #fff;
        }
    }
}

// dark theme styles
[data-theme="highContrast"] {
    .fcdo-navigation {  
        background-color: fcdo-color("high-contrast", "1");

        &__item {
            &:hover {
                border-bottom: none;
            }

            &--active {
                border-bottom: none;
            }
        }

        &__link {
            color: fcdo-color("high-contrast", "2") !important;
        }
    }
}