.app-featured-components {
    display: flex;
    flex-direction: column;
    gap: $fcdo-spacing-6;

    @media (min-width: 1500px) {
        flex-direction: row;
    }

    > div {
        display: flex;
        flex-direction: column;
        gap: $fcdo-spacing-6;

        @media (min-width: 768px) {
            flex-direction: row;
        }

    }

    &__item {
        flex: 1;

        img {
            width: 100%;
        }

    }
}