.app-layout {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 992px) {
        flex-direction: row;
    }

    &__sidebar {
        display: none;
        border-right: 1px solid govuk-colour("mid-grey");

        @media (min-width: 992px) {
            display: block;
        }

        &--open {
            display: block;
        }
    }

    &__content {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: fcdo-color("default", "9");
    }
}

.app-page-content {
    min-height: 100%;
    max-width: 1500px;
    padding: $fcdo-spacing-7 $fcdo-spacing-6;
    background-color: fcdo-color("default", "9");
}