.fcdo-card {
  border: 1px solid fcdo-color("default", "7");
  background-color: #fff;
  padding: $fcdo-spacing-4;
  margin-bottom: $fcdo-spacing-6;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: $fcdo-spacing-2;
  }

  &__description {
    margin-top: $fcdo-spacing-2;
  }
}