<h2 class="govuk-heading-l">Inter</h2>

<p class="govuk-body">Inter is a variable font family carefully crafted & designed for computer screens, making it well suited to the wide range of services, content types, and user journeys delivered by the Foreign, Commonwealth & Development Office.</p>

<p class="govuk-body">The font has also been chosen for its accessibility credentials. Inter includes a large x-height, open letterforms, and clear distinction between similar characters, helping improve readability for users with visual or cognitive impairments. These characteristics support compliance with WCAG accessibility standards and reinforce the FCDO’s commitment to inclusive digital services.</p>

<h3 class="govuk-heading-s">Examples</h3>

<details class="govuk-details fcdo-details govuk-!-margin-bottom-2">
    <summary class="govuk-details__summary fcdo-details__summary">
        <span class="govuk-details__summary-text">Headings</span>
    </summary>
    <div class="govuk-details__text">
        <h1 class="govuk-heading-l">Heading 1</h1>
        <h2 class="govuk-heading-m">Heading 2</h2>
        <h3 class="govuk-heading-s">Heading 3</h3>
    </div>
</details>

<details class="govuk-details fcdo-details govuk-!-margin-bottom-2">
    <summary class="govuk-details__summary fcdo-details__summary">
        <span class="govuk-details__summary-text">Body text</span>
    </summary>
    <div class="govuk-details__text">
        <p class="govuk-body">Body text</p>
    </div>
</details>

<details class="govuk-details fcdo-details">
    <summary class="govuk-details__summary fcdo-details__summary">
        <span class="govuk-details__summary-text">Lists</span>
    </summary>
    <div class="govuk-details__text">
        <p class="govuk-body">You can buy:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>apples</li>
        <li>oranges</li>
        <li>pears</li>
        </ul>
    </div>
</details>

<p class="govuk-body">Inter is a Google font - <a href="https://fonts.google.com/specimen/Inter?query=inter" target="_blank" class="govuk-link">View font on Google</a></p>