.fcdo-page-navigation {
  
  &__container {
    border-top: 1px solid rgba(255, 255, 255, .2);
  }

  &__title {
    display: block;
    margin: $fcdo-spacing-2 $fcdo-spacing-3 $fcdo-spacing-3 $fcdo-spacing-3;
    padding: $fcdo-spacing-5 0 0 0;
    color: #555;
    text-transform: uppercase;
    @include fcdo-font-size(16);
    font-weight: 700;
    border-top: 1px solid govuk-color("black", "tint-80");

    &:first-of-type {
      padding: $fcdo-spacing-3 0 0 0;
      border-top: none;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;

     @include fcdo-media-query('tablet') {
      margin: 0 $fcdo-spacing-3 0 0;
     }
  }

  &__item {
    display: flex;
    width: 100%;
    list-style: none;

    &-icon {
      margin-top: 1px;
      margin-right: $fcdo-spacing-2;
    }
  }

  &__details {
    width: 100%;
  }

  &__trigger {
    display: flex;
    position: relative;
    padding: $fcdo-spacing-2 $fcdo-spacing-3;
    cursor: pointer;
    color: govuk-color("blue");
    @include fcdo-font-size(17, 25px);

    &::-webkit-details-marker {
      display: none;
    }

    &::marker {
      content: "";
    }

    /* arrow */
    &::after {
      content: "";
      position: absolute;
      top: 16px;
      right: 20px;
      width: .4375em;
      height: .4375em;
      transform: rotate(135deg);
      border: solid;
      border-width: 2px 2px 0 0;
      border-color: govuk-color("blue");
    }

    &:hover {
      background: govuk-color("blue");
      color: #fff;

      &::after {
        border-color: #fff;
      }
    }

    &:focus-visible {
      outline: 3px solid transparent;
      background: fcdo-color("default", "2");
      color: #fff;
    }
  }

  &__details[open] {
    .fcdo-page-navigation__trigger {
      background: fcdo-color("default", "1");
      color: #fff;

      &::after {
        transform: rotate(315deg);
        border-color: #fff;
        top: 20px;
      }
    }
  }

  &__link {
    display: flex;
    width: 100%;
    padding: $fcdo-spacing-2 $fcdo-spacing-3;
    text-decoration: none;
    color: govuk-color("blue");
    @include fcdo-font-size(17, 25px);

    &:hover {
      background: govuk-color("blue");
      color: #fff;
    }

    &:focus-visible {
      outline: 3px solid transparent;
      background: fcdo-color("default", "2");
      color: #fff;
    }

    &--active {
      background: fcdo-color("default", "1");
      color: #fff;
    }
  }

  &__sublist {
    margin: $fcdo-spacing-2 $fcdo-spacing-3;
    padding: 0;
    list-style: none;
  }

  &__subitem {
    list-style: none;
  }

  &__sublink {
    display: block;
    padding: $fcdo-spacing-2 $fcdo-spacing-3;
    text-decoration: none;
    color: govuk-color("blue");
    @include fcdo-font-size(16);

    &:hover {
      background: govuk-color("blue");
      color: #fff;
    }

    &:focus-visible {
      outline: 3px solid transparent;
      background: fcdo-color("default", "2");
      color: #fff;
    }
  }
}


[data-theme="dark"] {
  .fcdo-page-navigation {
    background-color: fcdo-color("dark", "1");

    &__container {
      border-top: 1px solid fcdo-color("dark", "2");
    }

    &__link {
      color: fcdo-color("dark", "2");

      &:hover {
        color: fcdo-color("dark", "3");
      }

      &:focus-visible {
        background-color: fcdo-color("dark", "2");
        color: #fff;
      }
    }

    &__trigger {
      color: fcdo-color("dark", "2");

      &::after {
        border-color: fcdo-color("dark", "2");
      }
    }
  }
}


[data-theme="highContrast"] {
  .fcdo-page-navigation {
    background-color: fcdo-color("high-contrast", "1");

    &__container {
      border-top: 1px solid fcdo-color("high-contrast", "4");
    }

    &__link {
      color: fcdo-color("high-contrast", "2");

      &:focus-visible {
        background-color: fcdo-color("high-contrast", "4");
        color: #000;
      }
    }

    &__trigger {
      color: fcdo-color("high-contrast", "2");

      &::after {
        border-color: fcdo-color("high-contrast", "2");
      }
    }
  }
}