{% set fcdoTemplate = "application" %}
{% set headerTitle = "Service Name" %}
{% include "includes/component-html/header.html" %}
<div class="fcdo-application-layout">
  <div class="fcdo-application-layout__sidebar fcdo-application-layout__sidebar--open" id="pageNavigation">
    <nav class="fcdo-page-navigation">
      <div class="fcdo-page-navigation__container">
        <ul class="fcdo-page-navigation__list">
          <li class="fcdo-page-navigation__item fcdo-page-navigation__item--has-children">
            <details class="fcdo-page-navigation__details">
              <summary class="fcdo-page-navigation__trigger">
                <i class="fcdo-page-navigation__item-icon material-symbols-outlined">add_circle</i>
                <span class="fcdo-page-navigation__item-text">Page Navigation Menu</span>
              </summary>
              <ul class="fcdo-page-navigation__sublist">
                <li class="fcdo-page-navigation__subitem">
                  <a href="#" class="fcdo-page-navigation__sublink">
                    Page Navigation Sub Item
                  </a>
                </li>
                <li class="fcdo-page-navigation__subitem">
                  <a href="#" class="fcdo-page-navigation__sublink">
                    Page Navigation Sub Item
                  </a>
                </li>
              </ul>
            </details>
          </li>
          <li class="fcdo-page-navigation__item">
            <a href="#" class="fcdo-page-navigation__link">
              <i class="fcdo-page-navigation__item-icon material-symbols-outlined">article_shortcut</i> <span class="fcdo-page-navigation__item-text">Page Navigation Item</span>
            </a>
          </li>
          <li class="fcdo-page-navigation__item">
            <a href="#" class="fcdo-page-navigation__link">
              <i class="fcdo-page-navigation__item-icon material-symbols-outlined">drafts</i> <span class="fcdo-page-navigation__item-text">Page Navigation Item</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="fcdo-application-layout__content" id="main-content">
    <div class="fcdo-application-layout__title">
      <span class="govuk-caption-m">Caption</span>
      <h1 class="govuk-heading-l govuk-!-margin-0">Page title</h1>
    </div>
    <div class="fcdo-application-layout__card">
      <h2 class="govuk-heading-m fcdo-application-layout__card-title">Application Card</h2>
    </div>
  </div>
</div>
<footer class="fcdo-application-layout__footer">
  <ul class="fcdo-application-layout__footer-list">
    <li><a href="#" class="fcdo-application-layout__footer-link">Accessibility</a></li>
    <li><a href="#" class="fcdo-application-layout__footer-link">Cookies</a></li>
    <li><a href="#" class="fcdo-application-layout__footer-link">Privacy Policy</a></li>
  </ul>
</footer>
<script type="module" src="/javascript/govuk-frontend.min.js"></script>
<script type="module">
  import { initAll } from '/javascript/govuk-frontend.min.js'
  initAll()
</script>
<script type="module" src="/javascript/fcdo-frontend.min.js"></script>