.fcdo-button {
  padding: 8px $fcdo-spacing-3;
  border-radius: $fcdo-border-radius;
  background-color: fcdo-color("default", "1");
  @include fcdo-font-size(17, 1);
  line-height: 1;
  color: #fff;
  border: 2px solid transparent;
  box-shadow: none;
  min-height: 40px;
  max-height: 40px;

  &:hover {
    background-color: fcdo-color("default", "2");
    cursor: pointer;
  }

  &:focus {
    border-color: govuk-color("yellow", "primary");
    color: govuk-color("black", "primary");
    background-color: govuk-color("yellow", "primary");
    box-shadow: 0 2px 0 govuk-color("black", "primary");
  }

  &:disabled,
  &[disabled] {
    background-color: fcdo-color("default", "1");
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--warning {
    background-color: govuk-color("red", "primary");
    border-color: govuk-color("red", "primary");
    color: #fff;
    box-shadow: none;
    outline: none;

    &:hover {
    background-color: govuk-color("red", "shade-25");
    border-color: govuk-color("red", "shade-25");
    color: #fff;
    box-shadow: none;
    outline: none;
    }
  }

  &--outline {
    color: fcdo-color("default", "1");
    border: 1px solid fcdo-color("default", "1");
    background-color: #fff;
    box-shadow: none;

    &:hover {
      background-color: #fff;
      border-color: fcdo-color("default", "2");
      color: fcdo-color("default", "2");
    }

    &:focus {
      background-color: govuk-color("yellow", "primary");
    }

    &:disabled,
    &[disabled] {
      background-color: #fff;
      opacity: 0.5;
      cursor: not-allowed;
    }

    &-warning {
        color: govuk-color("red", "primary"); 
        border-color: govuk-color("red", "primary");

        &:hover {
          background-color: fcdo-color("default", "10");
          color: govuk-color("red", "primary"); 
          border-color: govuk-color("red", "primary");
        }

        &:focus {
          background-color: govuk-color("red", "primary");
          border-color: govuk-color("red", "primary");
          color: #fff;
          box-shadow: none;
          outline: none;
        }

        &:disabled,
        &[disabled] {
          background-color: #fff;
          opacity: 0.5;
          cursor: not-allowed;
        }
    }

  }

  &--icon {
    background-color: transparent;
    color: fcdo-color("default", "1");
    box-shadow: none;
    padding:0;
    border:none;
    display: inline-flex;
    align-items: center;
    gap: 5px;

    &:hover, &:active, &:focus, &:focus-visible {
      color: fcdo-color("default", "2");
      background-color: transparent;
      box-shadow: none;
      outline: none;
    }

    &:disabled,
    &[disabled] {
      background-color: transparent;
      opacity: 0.5;
    }
  }

  &:link {
    text-decoration: none;
  }
}

.fcdo-button-group {
  display: flex;
  gap: 20px;
}