{% extends "layout.html" %}

{% block title %}
    Colours
{% endblock %}

{% block pageTitle %}
    <span class="govuk-caption-m">Styles</span>
    <h1 class="govuk-heading-l">Colours</h1>
{% endblock %}

{% block content %}

{% set coloursHeading = true %}
{% set htmlFilePath = "styles-html/colours.html" %}
{% set scssFilePath = "settings/_fcdo-colours-palette.scss" %}

{% include "includes/app-component-updated-date.html" %}

<p class="govuk-body">Always use the FCDO and GOV.UK colour palette.</p>

<div class="fcdo-component">
    <div class="fcdo-component__example">{% include "includes/styles-html/colours.html" %}</div>
</div>

{% endblock %}