{% extends "layout.html" %}

{% block title %}
    Typography
{% endblock %}

{% block pageTitle %}
    <span class="govuk-caption-m">Styles</span>
    <h1 class="govuk-heading-l">Typography</h1>
{% endblock %}

{% block content %}
    <h2 class="govuk-heading-l">Inter</h2>

<p class="govuk-body">For the FCDO design system, Inter has been selected as the primary typeface due to its clarity, accessibility, and strong performance across digital interfaces.</p>

<div class="fcdo-component">
    <div class="fcdo-component__example">
        <h2 class="govuk-heading-l">Excellent readability</h2>
    <p class="govuk-body">
        Originally designed for screen use, Inter offers excellent readability at both small and large sizes, making it well suited to the wide range of services, content types, and user journeys delivered by the Foreign, Commonwealth & Development Office.
    </p>

    <p class="govuk-body">
        The font has also been chosen for its accessibility credentials. Inter includes a large x-height, open letterforms, and clear distinction between similar characters, helping improve readability for users with visual or cognitive impairments. These characteristics support compliance with WCAG accessibility standards and reinforce the FCDO’s commitment to inclusive digital services.
    </p>

    <a href="https://fonts.google.com/specimen/Inter?query=inter" target="_blank" class="govuk-link">View font on Google</a>
    </div>
</div>

{% endblock %}