{% extends "layout.html" %}

{% block title %}
    Typography
{% endblock %}

{% block pageTitle %}
    <span class="govuk-caption-m">Styles</span>
    <h1 class="govuk-heading-l">Typography</h1>
{% endblock %}

{% block content %}

{% set typographyHeading = true %}
{% set htmlFilePath = "styles-html/typography.html" %}
{% set scssFilePath = "settings/_typography-font.scss" %}

{% include "includes/app-component-updated-date.html" %}

<p class="govuk-body">For the FCDO design system, Inter has been selected as the primary typeface due to its clarity, accessibility, and strong performance across digital interfaces.</p>

<div class="fcdo-component">
    <div class="fcdo-component__example">{% include "includes/styles-html/typography.html" %}</div>
</div>

{% endblock %}