.fcdo-sortable-table {
  table-layout: fixed;

  th {
    position: relative;
    cursor: pointer;
    background-color: fcdo-color("default", "9");

    /* th:hover, th:focus { background-color: #ddd; outline: 2px solid #000; } */

    /* CSS chevrons */
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 5px;
      right: 15px;
      bottom: 0;
      width: 8px;
      height: 8px;
      margin: auto 0;
      border: solid;
      border-width: 2px 2px 0 0;
      border-color: fcdo-color("default", "2");
      clip-path: none !important;
    }

    &::before {
      transform: rotate(135deg);
      bottom: -2px;
    }

    &::after {
      transform: rotate(-45deg);
      top: -3px;
    }

    &[aria-sort="descending"]::after {
      top: 5px;
      bottom: -3px;
    }

    &[aria-sort="ascending"]::before {
      bottom: 4px;
    }

    &[aria-sort="ascending"]::after,
    &[aria-sort="descending"]::before {
      opacity: 0;
    }
  }
}