.fcdo-application-layout {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  @include fcdo-media-query('desktop') {
    flex-direction: row;
  }

  &__sidebar {
    display: none;
    background-color: #ccc;
    padding-bottom: $fcdo-spacing-4;
    border-right: 1px solid govuk-color("black", "tint-80");
    background-color: govuk-color("white");

    .fcdo-page-navigation__details[open] .fcdo-page-navigation__trigger::after {
      top: 23px;
    }

    .fcdo-page-navigation__trigger:after {
        display: none;
    }

    @include fcdo-media-query('desktop') {
      display: block;
      position: relative;
      width: 50px;
      top: unset;
    }

    &--open {
      display: block;
      width: 100%;
      padding-right: $fcdo-spacing-2;

      @include fcdo-media-query('desktop') {
        width: 300px;
      }
      
      .fcdo-page-navigation__logo-text {
        display: inline;
      }

      .fcdo-page-navigation__trigger:after {
        display: block;
        top: 17px;
      }
      
      .fcdo-page-navigation__item-text {
        display: inline;
      }
    }
  }

  &__content {
    min-height: 0;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    background-color: fcdo-color("default", "9");
  }

  &__title {
    padding: $fcdo-spacing-3;

    @include fcdo-media-query('desktop') {
      padding: $fcdo-spacing-5 $fcdo-spacing-6 0 $fcdo-spacing-6;
    }
  }

  &__card {
    margin: $fcdo-spacing-2 $fcdo-spacing-3;
    padding: $fcdo-spacing-4;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid govuk-color("black", "tint-80");

    @include fcdo-media-query('desktop') {
      margin: $fcdo-spacing-4 $fcdo-spacing-6;
    }

    &-title {
      margin-bottom: 0;
      color: govuk-color("black", "tint-25");
      font-weight: 400;
    }
  }
}
