.fcdo-tabs {
    margin-bottom: $fcdo-spacing-6;

    .govuk-tabs__list-item--selected {
        &:after {
            content: "";
            position: absolute;
            left: -1px;
            right: -1px;
            top: -1px;
            height: 5px;
            background-color: fcdo-color("default", "1");
        }
    }

    .govuk-tabs__panel {
        padding-left: 0;
        padding-right: 0;
        border: none;
    }
}