.fcdo-utility-navigation {
    background-color: #fff;
    padding: $fcdo-spacing-2 0;
    border-bottom: 1px solid govuk-color("black", "tint-80");

    @include fcdo-media-query('tablet') {
        &__icon {
            margin-right: $fcdo-spacing-1;
        }
    }

    &__list {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        padding: 0 $fcdo-spacing-3;
        border-right: 1px solid govuk-color("black", "tint-80");

        &:last-child {
            border-right: none;
        }
    }

    &__link {
        display: inline-flex;
        align-items: center;
        color: govuk-color("blue", "primary");
        text-decoration: none;
        @include fcdo-font-size(16, 1);
        padding-bottom: $fcdo-spacing-1;
        border-bottom: 3px solid transparent;

        &:hover, &:focus, &:focus-visible {
            outline: none;
            border-bottom: 3px solid;
        }

    }

    &__text {
        display: none;

        @include fcdo-media-query('tablet') {
            display: inline;
        }
    }
}