{% extends "layout.html" %}
{% set localEnv = "true" %}

{% block title %}
  FCDO Default Page Template
{% endblock %}

{% block stylesheets %}
{{ super() }}
{% endblock %}

{% block pageTitle %}
    <span class="govuk-caption-xl">Page Templates</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Default</h1>
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">Component Information</h1>
    <p class="govuk-body">The FCDO default page template provides a simple, bare-bones layout for FCDO pages, offering the essential structure and styling needed to build new pages quickly while maintaining consistency with the overall design system.</p>
    <div class="fcdo-component">
       <div class="fcdo-component__new-window">
      <a id="openTemplate" class="govuk-link govuk-link--no-visited-state" target="_blank">Open this example in a new tab</a>
     <script>
        document.getElementById("openTemplate").href =
          window.location.hostname !== "localhost"
            ? "/design-system/page-templates/view-default.html"
            : "/design-system/page-templates/view/default";
      </script>
    </div>
        <div class="fcdo-component__example" id="example">
            {% include "includes/page-template-html/default.html" %}
        </div>
        {% set isPageTemplate = "true" %}
        {% include "includes/app-view-component-code.html" %}
    </div>

    <script>
        // escape HTML special characters
        function escapeHTML(str) {
            return str
            .replace(/&/g, "&amp;")
            .replace(/</g, "&lt;")
            .replace(/>/g, "&gt;")
            .replace(/"/g, "&quot;")
            .replace(/'/g, "&#39;");
        }

        document.addEventListener('DOMContentLoaded', () => {
            // grab the content of #example
            const exampleElem = document.getElementById('example');
            const htmlCodeElem = document.getElementById('htmlCodeTemplate');

            if (exampleElem && htmlCodeElem) {
                // prepend DOCTYPE and opening tags
                const firstLines = `&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot; class=&quot;govuk-template fcdo-template&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    &lt;title&gt;FCDO Page Title&lt;/title&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1, viewport-fit=cover&quot;&gt;
    &lt;meta name=&quot;theme-color&quot; content=&quot;#1d70b8&quot;&gt;
    &lt;link rel=&quot;icon&quot; sizes=&quot;48x48&quot; href=&quot;/assets/images/favicon.ico&quot;&gt;
    &lt;link rel=&quot;icon&quot; sizes=&quot;any&quot; href=&quot;/assets/images/favicon.svg&quot; type=&quot;image/svg+xml&quot;&gt;
    &lt;link rel=&quot;mask-icon&quot; href=&quot;/assets/images/govuk-icon-mask.svg&quot; color=&quot;#1d70b8&quot;&gt;
    &lt;link rel=&quot;apple-touch-icon&quot; href=&quot;/assets/images/govuk-icon-180.png&quot;&gt;
    &lt;link rel=&quot;manifest&quot; href=&quot;/assets/rebrand/manifest.json&quot;&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;/stylesheets/fcdo-frontend.min.css&quot;&gt;
&lt;/head&gt;
&lt;body class=&quot;govuk-template__body fcdo-template__body&quot;&gt;
    &lt;script type=&quot;module&quot; src=&quot;/javascript/govuk-frontend.min.js&quot;&gt;&lt;/script&gt;
    &lt;script type=&quot;module&quot;&gt;
        import { initAll } from '/javascript/govuk-frontend.min.js'
        initAll()
    &lt;/script&gt;
    &lt;script&gt;
        document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    &lt;/script&gt;
    &lt;script type=&quot;module&quot; src=&quot;/javascript/fcdo-frontend.min.js&quot;&gt;&lt;/script&gt;
    &lt;a href=&quot;#main-content&quot; class=&quot;govuk-skip-link&quot; data-module=&quot;govuk-skip-link&quot;&gt;Skip to main content&lt;/a&gt;`;

                // escape the content of #example
                const escapedContent = escapeHTML(exampleElem.innerHTML.trim());

                // append closing tags
                const closingLines = `\n&lt;/body&gt;\n&lt;/html&gt;`;

                // combine everything
                htmlCodeElem.innerHTML = firstLines + escapedContent + closingLines;
            }
        });

        // copy function
        function copyCode() {
            const code = document.getElementById('htmlCodeTemplate').innerText;
            const button = document.getElementById('copyHTML');

            navigator.clipboard.writeText(code).then(() => {
            button.textContent = 'Code copied';
            setTimeout(() => {
                button.textContent = 'Copy code';
            }, 2000);
            }).catch(err => console.error(err));
        }
    </script>
{% endblock %}